.centered {
    /* position: absolute; */
    /* top: 50%;
    left: 20%; */
     transform: translate(-30%, -30%); 
    /* color: white; */
  }
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .centered2 {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: white;
  }